{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    {% if post.excerpt %}
      <div class="archive__item-content">
        <h2 class="archive__item-title" itemprop="headline">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        </h2>
        
        <p class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
        </p>
      </div>
    {% else %}
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      </h2>
    {% endif %}

    {% if post.header.teaser %}
      <div class="archive__item-teaser">
        <img src="{{ base_path }}{{ post.header.teaser }}" alt="{{ title }}">
      </div>
    {% endif %}

  </article>
</div>
